<h1>Add New Merchant</h1>
<h3>
<form action="/merchants" method="POST">
  <label for="merchant"><input type="text" name="name" id="merchant"></label>
  <input type="submit" value="Add merchant">
</form>
</h3>
