<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/buttons.css">
  <title>Budgie's Budget</title>
</head>
<h1>Budgie's Budget App</h1>

<nav>
  <a href="/tags">Tags</a>
  <a href="/merchants">Merchants</a>
  <a href="/transactions">Transactions</a>
  <a href="/">Home</a>
  </nav>
<body>
  <%= yield %>
</body>
</html>
