<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Budgie's Budget</title>
</head>
<h1>Welcome to Budgie's Budget App!</h1>

<nav>
    <ul>
      <li>
        <a href="/tags">Tags</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
    </ul>
  </nav>
<body>
  <%= yield %>
</body>
</html>
