<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/header.css">
  <title>Budgie's Budget</title>
</head>
<h1>Budgie's Budget App!</h1>

<nav>
    <ul>
      <li>
        <a href="/tags">Tags</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
    </ul>
  </nav>
<body>
  <%= yield %>
</body>
</html>
