<h4>Edit Tag</h4>
<p>Tag <%= @tag.id %></p>

<p>
  <form action="/tags/<%= @tag.id %>" method="POST">
    <label for="tag"><input type="text" name="tag" id="tag" value="<%= @tag.tag %>"></label>
    <input type="submit" value="Edit tag">
  </form>
</p>
