td, th {
  text-align: left;
}

td {
  padding: 10px 5px 10px 5px;
  border: 3px solid #587e76;
  color: #ffcc5c
}

th {
  padding: 10px 10px 10px 0px;
  border: 3px solid #587e76;
  color: #f2e394
}

table {
  border-collapse: collapse;
  margin: auto;
}

.cash {
  color: black;
  text-align: right;
}

.totalred {
  color: red;
  text-align: right;
}

.totalgreen {
  color: green;
  text-align: right;
}

.totalyellow {
  color: yellow;
  text-align: right;
}

.totalwhite {
  color: white;
  text-align: right;
}
