td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
  border: 3px solid #587e76;
  color: #ffcc5c
}

th {
  padding: 0px 20px 10px 0px;
  border: 3px solid #587e76;
  color: #f2e394
}

table {
  border-collapse: collapse;
  margin: auto;
}

.cash {
  color: red;
  text-align: right;
}
