<h1>Add New Transaction</h1>
<h3>
  <form action="/transactions" method="POST">

    <label for="merchant_select">
      <select name="merchant_id" id="merchant_select">
        <% @merchants.each do |merchant| %>
        <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </label>

    <label for="tag_select">
      <select name="tag_id" id="tag_select">
        <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.tag.capitalize %></option>
        <% end %>
      </select>
    </label>

    <label for="spent">
      <input type="text" name="spent" id="spent" value="0.00">
    </label>
    <input type="submit" value="Add transaction">
  </form>
</h3>
